---
layout: default
title: Didi Mudigdo - bass guitar
---
<div class="blurb">
	<p>Thanks for visiting my site! Come and read about my history, get some information on my bass lessons and listen to samples of my playing</p>
	<p>You can also visit my social sites:</p>
	<p>YouTube</p>
	<p>Twitter</p>
	<p>SoundCould</p>
</div><!-- /.blurb -->
